body {
    font-family:Helvetica, sans-serif
}

html {
    scroll-behavior: smooth;
}

.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 0px 10px 10px 15px;
}

.nav {
    display: flex;
}   

.page-title {
    font-size: 1.5em;
}

.nav-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: black;

}

.nav-item:hover {
    background-color: lightgrey;
}

.title {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.sub-title {
    color: #798DA3;
}

.content {
    display: flex;

}

.content-left {
    box-sizing: border-box;
    width: 50%;
    padding: 50px 50px;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;

}

.slide {
    display: none;
}

.pict1-text {
    font-size: 17px;
    font-style: italic;
}

.pict2-text {
    font-size: 17px;
    font-style: italic;
}

.active { 
    display: block;
}

.image {
    vertical-align: middle;
    width: 100%;
}

.identity {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 10px;
    margin: 0px 50px;
}

.profile-picture {
    width: 40px;
    border-radius: 50%;
    padding: 10px 20px;
}

.identity-detail {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.identity-name{
    color: black;
}

.identity-work{
    color: #798DA3;
    font-style: italic;
    font-size: small;
}

.content-image span {
    color: #798DA3;
    padding: 10px 0px;
}

.information {
    padding: 20px 0px 50px 50px;
}

.information-detail {
    display:flex ;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 0px 0px 50px;
    color: #798DA3;
}

.border-information {
    background-color: #EDF0F4;
    margin: 0px auto;
    width:20%;
    height:2px;

}

.point {
    margin: 0px 20px 0px 0px;
}

.circle {
    background-color: lightgray;
    border-radius: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.content-right {
    box-sizing: border-box;
    width: 50%;
    padding: 50px 50px;
}

.content-form {
    display:flex;
    flex-direction: column;
    padding: 40px 40px;
    background-color: rgb(229, 239, 239);
    
}

.contact-us {
    padding: 20px 0px;
}

.contact-us span {
    color: black;
    font-size: 1.5em;
}

.sub-contact-us {
    padding: 0px 0px 50px;
}

.sub-contact-us span {
    color: #798DA3;

}

input {
    padding: 8px;
    margin-bottom: 30px;
}

select {
    padding: 8px;
}

.send {
    background-color: rgb(61, 63, 86);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.send:hover {
    background-color: black;
    color: gray;
}

.our-package-border {
   background-color: #EDF0F4;
   text-align: center;
   padding: 60px 60px;
   font-size: 2.5em;
}

.our-package-picture {
        width: 40px;
        border-radius: 50%;
        padding: 10px 20px;
}

.our-package {
    display:flex ;
    flex-direction: row;
}

.our-package-body {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 33.3%;
    padding: 10px 10px;
}

.our-package-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.our-package-title {
    align-items: center;
    font-size: 1.5em;
}

.our-package-subtitle {
    color: #798DA3;
    padding: 0px 80px;
}

.our-package-small-border {
    background-color: #EDF0F4;
    margin: 20px auto;
    width:10%;
    height:2px;
}

.our-package-big-border {
    background-color: #EDF0F4;
    margin: 20px auto;
    width:100%;
    height:2px;
}

.closing-argument {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.closing-argument-title {
    font-size: 2em;
    margin: 20px auto;
}

.closing-argument-subtitle {
    color: #798DA3;
}

.closing-argument-button {
    background-color: rgb(61, 63, 86);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 50px;
    cursor: pointer;
}

.closing-argument-button:hover {
    background-color: black;
    color: gray;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-name {
    font-size: 1.5em;

}

.footer-subname {
    display: flex;
    margin-top: 10px
}

.footer-tos {
    padding: 10px 10px;
    color: #798DA3;
    cursor: pointer;

}

.footer-privacy-policy {
    padding: 10px 10px;
    color: #798DA3;
    cursor: pointer;
}

.copyright-name {
    margin: 0px;
    color: #798DA3;
}

@media only screen and (max-width: 767px) {
    .navigation {
        flex-direction: column;
    }

    .page-title {
        text-align: center;
        margin: 10px 10px;
        font-size: 2em;
    }

    .nav-item {
        justify-content: center;
        padding: 5px 5px;
    }

    .nav {
        flex-direction: column;
        display: none;

    }

    .nav-item {
        margin: 5px 5px;
    }

    .content {
        flex-direction: column;
    }

    .content-left {
        width: 100%;
        justify-content: center;
    }

    .content-image {
        margin: 0px;
    }

    .identity {
        margin: 0px;
    }

    .information {
        padding: 20px 0px;
    }

    .information-detail {
        padding: 10px 0px;
    }

    .content-right {
        width: 100%;
        justify-content: center;
    }

    .our-package {
        display: flex;
        flex-direction: column;
    }

    .our-package-body {
        width: 100%;
    }
}